body {
  background-color: #EDEAE3;
}

.jumbotron {
  border-bottom: 4px solid #e51c23;
}

.thumbnail {
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  box-shadow: 0 1px 4px rgba(0,0,0,0.3)
}

input[type=checkbox]:checked:after {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}


input[type=radio]:checked:before {
  background-color: #4caf50 !important;
}

input[type=radio]:checked:after {
  border-color: #4caf50 !important;
}


.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.vw-100 {
  width: 100vw !important;
}
