<form id="form-questionnaire" class="carousel slide" data-interval="false" data-wrap="false">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <div class="container">
        <div class="panel">
          <div class="panel-body p-30">
            <h3 class="mt-0 mb-10 text-primary">Do you like elephants?</h3>
            <div class="radio">
              <label>
                <input type="radio" name="elephants" value="yes"> Yes
              </label>
            </div><!-- .radio -->
            <div class="radio">
              <label>
                <input type="radio" name="elephants" value="no"> No
              </label>
            </div><!-- .radio -->
            <div class="radio">
              <label>
                <input type="radio" name="elephants" value="maybe"> Maybe
              </label>
            </div><!-- .radio -->
            <div class="radio">
              <label>
                <input type="radio" name="elephants" value="thursdays"> Only on Thursdays
              </label>
            </div><!-- .radio -->
          </div><!-- .panel-body -->
        </div><!-- .panel -->
      </div><!-- .container -->
    </div><!-- .item -->

    <div class="item">
      <div class="container">
        <div class="panel">
          <div class="panel-body p-30">
            <h3 class="mt-0 mb-10 text-primary">Do you like donkeys?</h3>
            <div class="radio">
              <label>
                <input type="radio" name="donkeys" value="yes"> Yes
              </label>
            </div><!-- .radio -->
            <div class="radio">
              <label>
                <input type="radio" name="donkeys" value="no"> No
              </label>
            </div><!-- .radio -->
            <div class="radio">
              <label>
                <input type="radio" name="donkeys" value="maybe"> Maybe
              </label>
            </div><!-- .radio -->
            <div class="radio">
              <label>
                <input type="radio" name="donkeys" value="thursdays"> Only on Fridays
              </label>
            </div><!-- .radio -->
          </div><!-- .panel-body -->
        </div><!-- .panel -->
      </div><!-- .container -->
    </div><!-- .item -->

    <div class="item">
      <div class="container">
        <div class="panel">
          <div class="panel-body p-30">
            <h3 class="mt-0 mb-10 text-success">All done.</h3>
            <p class="lead m-0">Turns out you're not what you think you are.</p>
          </div><!-- .panel-body -->
          <div class="panel-footer text-center">
            <a href="#" class="btn btn-primary hidden-xs">Start over</a>
            <a href="#" class="btn btn-primary btn-block visible-xs">Start over</a>
          </div><!-- .panel-footer -->
        </div><!-- .panel -->
      </div><!-- .container -->
    </div><!-- .item -->

  </div><!-- .carousel-inner -->
</form><!-- .container -->
